<!-- wp:afpb/review-style-one {"uniqueId":"{{product_id}}","title":"{{title}}","description":"{{description}}"} -->
<div class="wp-block-afpb-review-style-one">
    <!-- <div class="afpb__badge" style="color:#ffffff;background-color:#d7b837">FEATURED</div> -->
    <div class="afpb__product_info " style="border:1px solid #d7b837;border-radius:5px;background-color:#ffffff">
       <div class="product_photo"><img src="{{img_src}}" alt="{{img_alt}}" class="wp-image-27"/></div>
       <div class="product_content">
          <h2 class="title_tag" style="color:#333333">{{title}}</h2>
          <div class="product_rating">
             <span class="rating_value">{{rating}}</span>
             <div class="review-rating" data-rate-value="{{rating}}"></div>
          </div>
          <div class="product_description" style="color:#333333">
             <p>
             <p>{{description}}</p>
             </p>
          </div>
       </div>
    </div>
    <div class="afpb__props_cons" style="background-color:#ffffff;border:1px solid #d7b837;border-radius:5px">
       <div class="afpb__props_box">
          <div class="afpb__icon" style="border:1px solid #d7b837"><i class="fa-solid fa-thumbs-up" style="color:#027000"></i></div>
          <div class="afpb__props_list" id="afpb__props_{{product_id}}" style="color:#333333">
            {{pros_list}}
             <ul>
                <li>["High performance for gaming and other tasks</li>
                <li>["High performance for gaming and other tasks</li>
                <li>["High performance for gaming and other tasks</li>
                <li>["High performance for gaming and other tasks</li>
                <li>["High performance for gaming and other tasks</li>
             </ul>
          </div>
       </div>
       <div class="afpb__cons_box">
          <div class="afpb__icon" style="border:1px solid #d7b837"><i class="fa-solid fa-thumbs-down" style="color:#a5001a"></i></div>
          <div class="afpb__cons_list" id="afpb__cons_{{product_id}}" style="color:#333333">
            {{cons_list}}
             <ul>
                <li>Requires updates for optimal performance</li>
                <li>Requires updates for optimal performance"</li>
                <li>Requires updates for optimal performance"</li>
             </ul>
          </div>
       </div>
    </div>
    <a href="#" target="_self" rel="noopener" class="afpb__btn afpb__btn_{{product_id}}" style="color:#ffffff;background-color:#d59215;border:0px solid #d59215;border-radius:5px">Buy Now</a>
 </div>
 <!-- /wp:afpb/review-style-one -->