<div class="wp-block-afpb-product-showcase">
	<div class="afpb__product_info " style="background-color:#ffffff">
		<div class="product_photo">
            <img src="{{img_src}}" alt="{{img_alt}}" class="wp-image-38"/>
                {{buttons}}
            </div>
		<div class="product_content">
			<h2 style="color:#333333" class="title_tag">{{title}}</h2>
			<div class="product_rating">
				<span class="rating_value">{{rating}}</span>
				<div class="review-rating" data-rate-value="{{rating}}"></div>
			</div>
			<div class="product_description" style="color:#333333">
				<p>
				<p>{{description}}</p>
				</p>
			</div>
			<div class="afpb__props_cons">
				<div class="afpb__props_box">
					<div class="afpb__props_cons_title">Props</div>
					<div class="afpb__props_list" style="color:#027000">
						{{pros_list}}
					</div>
				</div>
				<div class="afpb__cons_box">
					<div class="afpb__props_cons_title">Cons</div>
					<div class="afpb__cons_list" style="color:#A5001A">
						{{cons_list}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br />